.container
  .row
    .col-md-3
      = image_tag "http://farm8.staticflickr.com/7074/13808922124_5840314907.jpg" 
      Pretty graphic
    .col-md-9
      %h2 Trees Are Smart
      %p
        Hi there human.
  .row
    .col-md-3
      = image_tag "http://farm8.staticflickr.com/7074/13808922124_5840314907.jpg" 
      Pretty graphic
    .col-md-9
      %h2 Trees Are Smart
      %p
        Hi there human.

  .row
    .col-md-12
      .space-40
      %a.btn.btn-primary.btn-lg(role="button" href="/pages/who")
        Who Built This? &raquo;