.container
  .row
    .col-md-3
      Pretty graphic
    .col-md-9
      %h2 Trees Are Smart
      %p
        Hi there human.

  .row
    .col-md-12
      .space-40
      %a.btn.btn-primary.btn-lg(role="button" href="/pages/how")
        How Does It Work? &raquo;