@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
@import "bootstrap";

body {
  font-family: 'Lato';
  padding-top: 70px;
}

h1 {
  font-family: 'Lato';
  padding-top: 0px;
  font-weight: bold;
}

h2 {
  font-family: 'Lato';
  margin-top: 5px;
}

.container-right {
  text-align: right; 
}
.container-bottom {
  vertical-align: text-bottom;
}

.icon-large {
  font-size: 3em;
}
.icon-massive {
  font-size: 10em;
  color: #B6EB82;
}

.map-tree-detail {
  border-radius: 5px; 
  box-shadow: 0px 0px 10px #888888;
}

.image-tree-detail {
  border-radius: 5px; 
  box-shadow: 0px 0px 10px #888888;
}

.img-how {
  border-radius: 10px; 
  box-shadow: 0px 0px 10px #888888;
}

.space-20 {
  padding-top: 20px;
}
.space-40 {
  padding-top: 40px;
}
.space-60 {
  padding-top: 60px;
}
.space-80 {
  padding-top: 60px;
}