@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
@import "bootstrap";

body {
  font-family: 'Lato';
  padding-top: 70px;
}

h1 {
  padding-top: 0px;
  font-weight: bold;
}

.space-40 {
  padding-top: 40px;
}